<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile/login.css') }}">
  <title>ChristmasLights - Password Change</title>
</head>
<body>
  <div class="body"></div>

		<div class="header">
			<div>Christmas<span>Lights</span></div>
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
			       <br><center>{{ message }}
			    {% endfor %}
			  {% endif %}
			{% endwith %}
		</div>
		<br>
		<div class="login">
			<form name="changePassword" action="" method="post">
			<input type="hidden" name="action" value="setPassword">

			<input type="password" placeholder="New Password" name="password1"><br>
			<input type="password" placeholder="Confirm Password" name="password2"><br>

			<input type="submit" value="Change Password">
			</form>
		</div>
</body>
</html>
