<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile/control.css') }}">
		<title>ChristmasLights</title>
	</head>
	<body>
		<div class="body"></div>
		<div class="header">
			<div>Christmas<span>Lights</span></div>
		</div>
		<div id="buttons">
				<table style="margin: 0 auto">
					<tr>
						<td><a href="/changePassword" class="button"> Change Password</a></td>
						<td><a href="/logout" class="button">Log out</a></td>
					</tr>
					<tr>
					<td colspan="2" style="text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;">
					<td>
					</tr>
				</table>
				</div>
		<form name="selectMode" action="" method='post'>
			<table align="center">
			<tr>
			<td>
				<select name="mode" >
				{% for o in modes %}
					{% if mode == o.id %}
				    		<option name="{{ o.id }}" SELECTED>{{ o.name }}</option>
					{% else %}
						<option name="{{ o.id }}">{{ o.name }}</option>
					{% endif %}
				{% endfor %}
				</select>
			</td>
			<td>
				<input class="button" type="submit" value="Change Mode">
			</td>
			</tr>
			</table>
		</form>
					{% with messages = get_flashed_messages() %}
					  {% if messages %}
					    {% for message in messages %}
					       <br><center>{{ message }}
					    {% endfor %}
					  {% endif %}
					{% endwith %}
		{% if mode==1 %}
		<div class="pinTable">		
		<table name="GPIO">
			<tr>
				<th>Outlet</th>
				<th>Pin</th>
				<th>Description</th>
				<th>Status</th>
				<th>Edit</th>
			</tr>
		      	{% for o in outlets %}
			<tr>
			<td><div style="height:15%; overflow:hidden"> {{ o.id }} </div></td>
			<td><div style="height:15%; overflow:hidden"> {{ o.pin }} </div></td>
			<td><div style="height:15%; overflow:hidden"> {{ o.description }}</div></td>
			{% if o.status == true %}
			     <td><div style="height:15%; overflow:hidden"><a href="/{{o.id}}/Toggle"><input type="image" width="100%" src="{{ url_for('static', filename='images/on.png') }}"></a></div></td>
			{% else %}
			     <td><div style="height:15%; overflow:hidden"><a href="/{{o.id}}/Toggle"><input type="image" width="100%" src="{{ url_for('static', filename='images/off.png') }}"</a></div></td>
			{% endif %}
			<td><div style="height:15%; overflow:hidden"> <a href="/{{o.id}}/Edit"><image width="100%" src="{{ url_for('static', filename='images/edit.png') }}"></a></div></td>
			</tr>
			{% endfor %}		
		</table>
		</div>
		{% endif %}
	</body>
</html>
